
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=HelloLua
Exec=invoker --single-instance --type=e /opt/hellolua/bin/hellolua
Icon=hellolua
StartupWMClass=
X-Window-Icon=hellolua
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false
